.UVIndexWidget {
  position: relative;
  border-radius: 12em 12em 0 0;
  width: 361px;
  height: 163px;
  overflow: hidden;
  border-bottom: 1px solid var(--color);
}

.UVIndexWidget__zonecircle {
  --uv: var(--uv);
  position: absolute;
  top: 178px;
  right: 178px;
  width: 361px;
  height: 361px;
  transform-origin: 100% 0%;
}

.UVIndexWidget__zonecircle--upper {
  animation: uvLevel--upper 1s both ease-out;
  background: linear-gradient(18deg, #f0ae02 0%, rgba(240, 174, 2, 0) 89.51%);
}

.UVIndexWidget__zonecircle--lower {
  animation: uvLevel--lower 1s both ease-out;
  background: linear-gradient(70deg, #f0ae02 0%, rgba(240, 174, 2, 0) 89.51%);
}

.UVIndexWidget__bg {
  position: absolute;
  border-radius: 12em 12em 0 0;
  background-position: -120px 0px;
}

.UVIndexWidget__bg--back {
  left: 16px;
  bottom: 0px;
  width: 329px;
  height: 147px;
  background: transparent;
  border: solid 1px var(--color);
  border-bottom: none;
}

.UVIndexWidget__bg--front {
  left: 32px;
  bottom: 0px;
  width: 297px;
  height: 131px;
  background: var(--bg);
}

@keyframes uvLevel--upper {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(var(--uv));
  }
}
@keyframes uvLevel--lower {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(var(--uv));
  }
}
