.partDayForecastCard {
  padding: 4px 30px;

  &:not(:last-child) {
    border-right: 1px solid #aaa;
  }
}

.partDayForecastCardHours {
  display: flex;
  margin-top: 5px;
  gap: 56px;
}

.partDayForecastCardItemImgWrapper {
  margin-top: 14px;

  & svg {
    max-height: 25px;
    max-width: 40px;
  }
}
