.part-day-forecast-card {
    padding: 4px 30px;

    &:not(:last-child) {
        border-right: 1px solid #AAA;
    }    
}

.part-day-forecast-card__hours {
    display: flex;
    margin-top: 5px;
    gap: 56px;
}

.part-day-forecast-card__item-img-wrapper {
    max-height: 25px;
    max-width: 40px;
}