.day-forecast-content {
    margin-top: 24px;
    display: flex;
}

.day-forecast-weather__img-wrapper {
    width: 281px;
    height: 187px; 
    text-align: center;
}

.day-forecast-weather__img {
    width: auto;
    height: 100%; 
}

.forecast-hourly {
    display: flex;
    align-items: flex-end;
    margin-left: 10px;
}

.forecast-hourly__wrapper {
    display: flex;
}