.Card-content {
  margin-top: 24px;
  display: flex;
}

.Card-content__main-weather {
  text-align: center;
}

.Card-content__main-weather-image {
  & svg {
    max-width: 281px;
    max-height: 187px;
  }
}

.Card-list-container {
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}

.Card-hourly-forecast {
  display: flex;
}

@media screen and (max-width: 1360px) {
  .Card-content__main-weather {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .Card-content__main-weather-image {
    margin-right: 30px;
  }

  .Card-content {
    flex-direction: column;
  }
}

@media screen and (max-width: 910px) {
  .Card-hourly-forecast {
    overflow-x: scroll;
  }
}

@media screen and (max-width: 600px) {
  .Card-content__main-weather-image {
    margin-right: 0;
    & svg {
      max-width: 231px;
      max-height: 137px;
    }
  }
}
