.dayForecastContent {
  margin-top: 24px;
  display: flex;
}

.dayForecastWeatherImgWrapper {
  & svg {
    max-width: 281px;
    max-height: 187px;
  }
}

.forecastHourly {
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}

.forecastHourlyWrapper {
  display: flex;
}
