.App-container {
  padding: 29px 100px 57px;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Box-bg {
  background: linear-gradient(
    138deg,
    #00000008 0%,
    #ffffff17 99.97%,
    #ffffff1c 99.98%,
    #ffffff1c 99.99%,
    #ffffff26 100%
  );
  border-radius: 30px;
}

.App__future-forecast-container {
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

@media screen and (max-width: 1420px) {
  .App-container {
    padding: 29px 50px 57px;
  }
}

@media screen and (max-width: 1000px) {
  .App-container {
    padding: 29px 20px 57px;
  }
}
