.HumidityWidget {
  margin-top: 45px;
}
.HumidityWidget-chart {
  border-bottom: 1px solid var(--color);
  width: 373px;
  position: relative;
}

.HumidityWidget-svg {
  margin-left: 15px;
  margin-bottom: -8px;
}

.HumidityWidget-legend__item--max {
  font-size: 12px;
  margin-top: 4px;
}
